<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0"
        id="@id@"
        version="@version@"
        versionCode="1">

  <name>Stockholm University</name>

  <description>
    @description@
  </description>

  <author href="http://www.su.se" email="utveckling@it.su.se">
    Team utveckling at Stockholm University
  </author>

  <feature name="http://api.phonegap.com/1.0/device"/>

  <preference name="phonegap-version" value="2.2.0"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false"/>

  <!-- Android specific -->

  <preference name="android-minSdkVersion" value="8"/>

  <icon src="icon.png"/>

  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>
  <feature name="http://api.phonegap.com/1.0/file"/>
  <!-- TODO: Add globalization to the feture list, as soon as phongap supports it: http://build.phonegap.com/docs/config-xml -->

  <gap:plugin name="ChildBrowser"/>

  <access origin="http://su.se" subdomains="true"/>
  <access origin="http://*su.se"/>
  <access origin="http://google.com" subdomains="true"/>
  <access origin="http://gstatic.com" subdomains="true"/>
  <access origin="http://googleapis.com" subdomains="true"/>
</widget>
