<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id = "se.su.it.handheld.app"
        version = "0.0.1"
        versionCode = "1">

  <name>Stockholm University</name>

  <description>
    Prototype of Stockholm University mobile app.
  </description>

  <author href="http://www.su.se" email="utveckling@it.su.se">
    Team utveckling at Stockholm university
  </author>

  <feature name="http://api.phonegap.com/1.0/device" />

  <preference name="phonegap-version" value="2.0.0" />
  <preference name="orientation" value="default" />
  <preference name="target-device" value="universal" />
  <preference name="fullscreen" value="false" />

  <icon src="icon.png" />

  <feature name="http://api.phonegap.com/1.0/camera"/>
  <feature name="http://api.phonegap.com/1.0/contacts"/>
  <feature name="http://api.phonegap.com/1.0/geolocation"/>

  <gap:plugin name="ChildBrowser" />

  <access origin="http://su.se" subdomains="true" />
  <access origin="http://*su.se" />
</widget>
