<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type">
  <title>Search persons</title>

  <link rel="stylesheet" href="../css/jquery.mobile-1.3.0.min.css"/>
  <link rel="stylesheet" href="../css/mobile.css"/>

  <script type="text/javascript" charset="utf-8" src="../cordova-2.4.0.js"></script>

  <script src="../js/lib/jquery-1.8.2.min.js"></script>
  <script src="../js/lib/jquery.mobile-1.3.0.min.js"></script>

  <script type="text/template" id="search_template">

    <div data-role="fieldcontain">
      <input id="search_input" type="search" placeholder="Name, uid or mail" name="">
    </div>
    <a id="search_button" href="#page1" data-role="button">
      Search
    </a>

    <div id='result_content'></div>
  </script>

  <script type="text/template" id="result_template">
    <ul id='result_list' data-inset="true" data-divider-theme="b" data-role="listview">
      <li role="heading" data-role="list-divider">
        Search results (<%= result_count %>)
      </li>
    </ul>
  </script>

  <script type="text/template" id="personTemplate">
    <li data-theme="c">
      <a data-transition="slide" href="#details_page" identifier="person_<%= uid %>">
        <%= displayName %> (<%= uid %>)
      </a>
    </li>
  </script>

  <script type="text/template" id="personDetailsTemplate">
    <h2><%= displayName %></h2>

    <b>Username:</b> <%= uid %><br/>
    <b>E-mail:</b> <%= mail %><br/>
    <b>Phone:</b> <%= telephoneNumber %><br/>

    <img src="https://maps.googleapis.com/maps/api/staticmap?center=Stockholm University&amp;zoom=14&amp;size=100x100&amp;markers=Universitetsvägen 10D&amp;sensor=false"
         height="100" width="100"/>

    <a id="add_contact_button" href="#" data-role="button">
      Add to contacts
    </a>

    <a id="make_call_button" href="tel:<%= telephoneNumber %>" data-role="button">
      Call
    </a>

    <a id="make_sms_button" href="sms:<%= telephoneNumber %>" data-role="button">
      SMS
    </a>

    <a id="send_mail_button" href="mailto:<%= mail %>" data-role="button">
      Send mail
    </a>
  </script>

  <!-- maximum scale added to stop zoom on select controls -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>

<script src="../js/lib/underscore-1.3.3-min.js"></script>
<script src="../js/lib/backbone-0.9.2-min.js"></script>

<!-- Global config file -->
<script src="../js/config.js"></script>

<!-- Default javascripts -->
<script src="../js/jst/common.js"></script>
<script src="../js/default.js"></script>

<script src="js/models/personmodel.js"></script>
<script src="js/views/personview.js"></script>
<script src="js/views/searchview.js"></script>
<script src="js/main.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
    startModule()
  })
</script>

<div id="search_page" data-role="page" data-header="common/header" data-header-options="backbutton">
  <div id="search_view" data-role="content"></div>
</div>

<div id="details_page" data-role="page" data-header="common/header" data-header-options="backbutton">
  <div id="details_view" data-role="content"></div>
</div>
</body>
</html>
