.gradle
.idea
/bin
/.classpath
/build
/out
/reports
*.iml
su.tar.gz
*-plugin.xml
local.properties
Manifest.java
R.java
/gen
splash.png
www/css/*.min.css
www/map/css/*.min.css
www/js/*.min.js
www/js/jst/*.min.js
www/js/views/*.min.js
www/info/js/views/*.min.js
www/map/js/*.min.js
www/map/js/collections/*.min.js
www/map/js/jst/*.min.js
www/map/js/models/*.min.js
www/map/js/routers/*.min.js
www/map/js/views/*.min.js
www/studentservice/js/jst/*.min.js
www/studentservice/js/views/*.min.js
platforms/android/ant-build
platforms/ios/ant-build