<project xmlns='http://maven.apache.org/POM/4.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd'>
  <modelVersion>4.0.0</modelVersion>
  <groupId>@group@</groupId>
  <artifactId>@name@</artifactId>
  <version>@version@</version>
  <packaging>pom</packaging>
  <name>@name@</name>
  <description>@description@</description>
  <build>
    <sourceDirectory>assets/www</sourceDirectory>
    <testSourceDirectory>assets/www/spec</testSourceDirectory>
  </build>
  <properties>
    <sonar.language>js</sonar.language>
    <sonar.dynamicAnalysis>reuseReports</sonar.dynamicAnalysis>
    <sonar.javascript.jstestdriver.reportsfolder>build/reports/coverage/</sonar.javascript.jstestdriver.reportsfolder>
    <sonar.surefire.reportsPath>build/reports/tests/</sonar.surefire.reportsPath>
    <sonar.exclusions>**/cordova*.js,**/GAPlugin.js,**/lib/**/*.js,**/spec/**/*.js</sonar.exclusions>
    <sonar.links.scm>git://git.it.su.se/git/hermes.git</sonar.links.scm>
  </properties>
</project>
